body {
  background: url(texture-noise.png);
  overflow: hidden;
  margin: 0;
  background:#FFF;
  font: 17px/28px Georgia;
  font-family: Lato, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
}
#content {
  width:900px;
  margin:auto;
  overflow:hidden;
}
#header {
  width: 100%;
  text-align: center;
  z-index: 100;
  position: absolute;
  background: rgba(219, 219, 219, 0.5);
  margin-top: 0px;
}
#header h2 {
  color:#222;
}
#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
}

#footer {
  margin-top: 40px;
  height: 90px;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  bottom: 0px;
  text-align: center;
  color: #555;
  position: absolute;
  left: 0;
  background: rgba(219, 219, 219, 0.5);
  padding-top: 13px;
}

#footer h3 {
  color:#222;
  width:500px;
  margin:auto;
  text-align:center;
}



.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #1d91c0;
  text-decoration: none;
}

a:hover {
  color:#c7e9b4;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

#intro {
  font-size: 12pt;
  line-height: 36px;
}
#info-window {
  position: absolute;
  z-index: 100;
  width: 220px;
  padding-top: 5px;
  padding-right: 0px;
  text-align: left;
  font-size: 15pt;
  bottom: 110px;
  margin: 10px;
  background: rgba(219, 219, 219, 0.5);
  padding: 10px;
  color:#222;
}

#info-window span {
  display:block;
}

#legend-wrap {
  position:relative;
  width:400px;
  margin:auto;
  height:40px;
}

#legend-low {
  position: absolute;
  right: 161px;
  bottom: 28px;
  color: #FFF;
}

#legend-high {
  position: absolute;
  right: 1px;
  bottom: 28px;
  color: #FFF;
}

#legend {
  position: absolute;
  bottom: 6px;
  right: 3px;
  width: 177px;
  height: 20px;
  opacity: .8;
}

.color {
  width: 20px;
  height: 20px;
  float: left;
  border-radius: 15px;
  margin-left: 5px;
}

#temp-map-bweather {
  color:#EEE;
  position:absolute;
  bottom:20px;
  left:10px;
}
.county-boundary {
  stroke:#666;
}
.state-boundary {
  stroke:#666;
  fill:#F8F8F8;
}

.land {
  stroke:#666;
  fill:#F8F8F8;
}

.counties {
  stroke:#222;
  fill:#F8F8F8;  
}

.scales {
  cursor:pointer;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

#scale-sorter {
  position: absolute;
  bottom: 120px;
  right: 0px;
  width: 490px;
  height: 44px;
  opacity: .8;
  color: #FEFEFE;
}

#scale-sorter div {
  float: left;
  margin-right: 10px;
  border: 1px solid #444;
  padding: 10px;
  cursor: pointer;
}
